name: Build

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Tag to build (e.g., v1.2.3)'
        required: true
        type: string

jobs:
  call-build:
    uses: ./.github/workflows/build-common.yml
    with:
      release_tag: ${{ github.event.inputs.release_tag }}
    secrets: inherit
